@font-face {
    font-family: "Poppins-Bold";
    src: local("Poppins"),
        url("/src/Assets/fonts/Poppins-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Poppins-Medium";
    src: local("Poppins"),
        url("/src/Assets/fonts/Poppins-Medium.ttf") format("truetype");
}

.features {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.features__item {
    flex: 1;
    margin: 24px;
    padding: 24px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
}

.feature__title {
    font-size: 1.5rem;
}

.feature__container {
    display: flex;
    align-items: center;
    margin: .5rem;
}

.feature__container--money {
    font-size: 2rem;
    font-family: "Poppins-Bold";
}

.feature__container--rate {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    color: gray;
}

.feature__container--icon {
    font-size: 2rem !important;
    margin-left: .1rem;
    color: LimeGreen;
}

.feature__container--icon.negative {
    color: tomato;
}

.features__period {
    font-size: .8rem;
    color: gray;
}