            /* Fonts  */

@font-face {
    font-family: "Poppins";
    src: url("./Assets/fonts/Poppins-Regular.ttf") format("truetype");
}

* {
    margin: 0;
    font-family: "Poppins";
}

.container {
    display: flex;
    margin-top: 1rem;
}

.link {
    text-decoration: none;
    color: inherit;
}